!scheduled-removeExpiredUsers.mjs
!account-lockout.js
!api-fetchGallery.js
!api-fetchNews.js
!cookie-builder.js
!csrf-getToken.js
!email-check.js
!init-database.js
!profanity-filter.js
!rate-limiter.js
!sanitize-input.js
!user-auth-utils.js
!user-auth.js
!user-fetchData.js
!username-validate.js
!netlify/utils/auth/
!netlify/utils/csrf/
!database.js
!netlify/
!bg.jpg
!background/
!characters/
!assets/
!yuzuki-reika.png

.github/
node_modules/
jspm_packages/
.pnpm-store/
.yarn/
dist/
build/
out/
backup/
backup client/
backup netlify/
.next/
.nuxt/
.output/
.vercel/
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local
.env.backup
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pids/
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
.nyc_output/
yarn.lock
pnpm-lock.yaml
package-lock.json
.yarn-integrity
.npm
.eslintcache
.node_repl_history
*.tgz
.cache/
.parcel-cache/
.sass-cache/
.turborepo/
.webpack/
.swc/
.rollup.cache/
*.tsbuildinfo
test-results/
playwright-report/
*.spec.js.snap
*.test.js.snap
.vscode/
*.code-workspace
.vscode-test/
.history/
.idea/
*.sublime-*
*.sublime-project
*.sublime-workspace
.atom/
.brackets.json
.fleet/
*.tmp
*.temp
*.backup
*.bak
*.gho
*.ori
*.orig
*.swp
*.swo
*~
*~.nib
.tmp/
temp/
tmp/
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
desktop.ini
$RECYCLE.BIN/
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp
*.dmp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.apdisk
Icon?
Icon
.localized
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.AppleDouble
.LSOverride
.fuse_hidden*
.directory
.Trash-*
.nfs*
.gvfs
.xdg-volume-info
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.gif
*.raw
*.webp
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.pdf
*.xbm
*.bmp
*.dib
*.ico
*.3dm
*.max
*.db
*.sqlite
*.sqlite3
*.pem
*.key
*.crt
*.p12
documents/
*.app
.snapshots/*
*.map
*.stackdump
config.json
local.properties
.loadpath
.project
.buildpath
.netlify