<div class="readme-display">
  <div class="first-box_wrapper">
    <div class="landing_wrapper">
      <div class="landing-intro">
        <h1>AeroSocial</h1>
        <p>My first programming project</p>
      </div>
      <div class="landing-info_container">
        <p>
          This project is a technical showcase designed to highlight my
          understanding of web fundamentals. Built entirely with vanilla HTML,
          CSS, and JavaScript, with it, I want to demonstrate core front-end
          skills, API integration, and simple backend logic.<br /><br />
          The design of this website is reminiscent of the early 2000s, it draws
          from a nostalgic and humanistic Frutiger Aero style, I wanted the UI
          to look tuneful and somewhat modern.<br /><br />
          This is not a production-ready social network, I wanted to show what I
          can do as a solo developer with a clear focus on architecture, logic,
          and interface dynamics.<br /><br />
          The rest of my projects will make use of frameworks, so stay tuned for
          new releases.<br /><br />
          This project has taken me 5 months to complete. I've faced many
          difficulties and the website has gone through various re-designs, I've
          also refactored most of my code to keep it modular and as DRY as I
          can. I feel rather happy about that, because I've learned a lot and if
          it wasn't for those mistakes this website wouldn't look as good. Good
          things take time.
        </p>
      </div>
    </div>
    <div class="second-box_wrapper">
      <nav class="read-navigation">
        <ul>
          <div class="read-item-reflection">
            <div class="read-item-inner-light"></div>
            <li>
              <a class="read-item" href="https://x.com/neuwair">Twitter</a>
            </li>
          </div>
          <div class="read-item-reflection">
            <div class="read-item-inner-light"></div>
            <li>
              <a class="read-item" href="https://github.com/Neuwair">GitHub</a>
            </li>
          </div>
          <div class="read-item-reflection">
            <div class="read-item-inner-light"></div>
            <li>
              <a
                class="read-item"
                href="https://www.pixiv.net/en/users/102019144"
                >Pixiv</a
              >
            </li>
          </div>
        </ul>
      </nav>
    </div>
  </div>
  <div class="image_container">
    <a
      href="https://x.com/neuwair/status/1942760880116228314"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="img-item"
        id="imgItem"
        src="/shared/assets/characters/yuzuki-reika.png"
        alt="Yuzuki Reika Character by Neuwair"
      />
    </a>
  </div>
</div>
<div class="information-display">
  <nav class="read-navigation">
    <ul>
      <div class="read-item-reflection">
        <div class="read-item-inner-light"></div>
        <li>
          <a id="outroItem" class="read-item" href="https://x.com/neuwair"
            >Neuwair - Illustrator and Programmer 🍋
            イラストレーター兼プログラマー</a
          >
        </li>
      </div>
    </ul>
  </nav>
</div>
<div class="information-display">
  <nav class="read-navigation">
    <ul>
      <div class="read-item-reflection">
        <div class="read-item-inner-light"></div>
        <li>
          <a
            id="htmlItem"
            class="info-item"
            href="https://developer.mozilla.org/en-US/docs/Web/HTML"
            >HTML</a
          >
        </li>
      </div>
      <div class="read-item-reflection">
        <div class="read-item-inner-light"></div>
        <li>
          <a
            id="cssItem"
            class="info-item"
            href="https://developer.mozilla.org/en-US/docs/Web/CSS"
            >CSS</a
          >
        </li>
      </div>
      <div class="read-item-reflection">
        <div class="read-item-inner-light"></div>
        <li>
          <a
            id="jsItem"
            class="info-item"
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            >JavaScript</a
          >
        </li>
      </div>
      <div class="read-item-reflection">
        <div class="read-item-inner-light"></div>
        <li>
          <a
            id="emojiItem"
            class="info-item"
            href="https://github.com/missive/emoji-mart"
            >EmojiMart</a
          >
        </li>
      </div>
    </ul>
  </nav>
</div>
