  <header id="header">
    <div class="mobile-header_wrapper">
      <div class="logo_container">
        <a id="logoElement" class="logo-item" href="https://github.com/Neuwair">AeroSocial</a>
      </div>
      <div class="mobile-menu_container">
        <div id="menuBtn" class="menu-item">
          <div class="item-reflection">
            <div class="item-inner-light"></div>
            <div id="menuIcon" class="menu-icon">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-header_wrapper">
      <nav id="deskNav" class="desktop-navbar" type="navigation">
        <ul>
          <div class="item-reflection">
            <div class="item-inner-light"></div>
            <li><a id="homeBtn" class="desk-item" href="/">Home</a></li>
          </div>
          <div class="item-reflection">
            <div class="item-inner-light"></div>
            <li><a id="exploreBtn" class="desk-item" href="/pages/explore/explore.html">Explore</a></li>
          </div>
          <div class="item-reflection">
            <div class="item-inner-light"></div>
            <li><a id="newsBtn" class="desk-item" href="/pages/news/news.html">News</a></li>
          </div>
          <div class="item-reflection">
            <div class="item-inner-light"></div>
            <li><a id="readmeBtn" class="desk-item" href="/pages/readme/readme.html">README Project</a></li>
          </div>
          <div class="item-reflection">
            <div class="item-inner-light"></div>
            <li><button id="logoutBtn" class="desk-item" type="button">Logout</button></li>
          </div>
        </ul>
      </nav>
    </div>
  </header>
  <div class="mob-dropnav_container">
    <nav id="dropnav" class="dropnav">
      <ul id="dropnavList" class="dropnav-list" >
        <div class="item-reflection">
          <div class="item-inner-light"></div>
          <li><a id="homeBtnDropdown" class="dropnav-item" href="/">Home</a></li>
        </div>
        <div class="item-reflection">
          <div class="item-inner-light"></div>
          <li><a id="exploreBtnDropdown" class="dropnav-item" href="/pages/explore/explore.html">Explore</a></li>
        </div>
        <div class="item-reflection">
          <div class="item-inner-light"></div>
          <li><a id="newsBtnDropdown" class="dropnav-item" href="/pages/news/news.html">News</a></li>
        </div>
        <div class="item-reflection">
          <div class="item-inner-light"></div>
          <li><a id="readmeBtnDropdown" class="dropnav-item" href="/pages/readme/readme.html">README Project</a></li>
        </div>
        <div class="item-reflection">
          <div class="item-inner-light"></div>
          <li><a id="logoutBtnDropdown" class="dropnav-item" type="button">Logout</a></li>
        </div>
      </ul>
    </nav>
  </div>