<div class="news-display">
  <div class="first-box_wrapper">
    <div class="label-reflection">
      <div class="label-inner-light"></div>
      <a href="https://www.theguardian.com/uk/technology" class="news-label">
        <h1>Wired Into the Future</h1>
        <p>Stay wired and learn what is new in tech.</p>
      </a>
    </div>
    <nav class="tech-nav">
      <ul>
        <img class="tech-img" src="" alt="Tech news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="tech-title"></h2>
            <p class="tech-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="tech-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="tech-img" src="" alt="Tech news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="tech-title"></h2>
            <p class="tech-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="tech-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="tech-img" src="" alt="Tech news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="tech-title"></h2>
            <p class="tech-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="tech-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="tech-img" src="" alt="Tech news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="tech-title"></h2>
            <p class="tech-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="tech-link" href="">Read More</a>
          </div>
        </div>
      </ul>
    </nav>
    <div class="label-reflection">
      <div class="label-inner-light"></div>
      <a href="https://www.theguardian.com/uk/sport" class="news-label">
        <h1>Stay Ahead of the Game</h1>
        <p>Your frontline for real-time sports action and insights.</p>
      </a>
    </div>
    <nav class="sports-nav">
      <ul>
        <img class="sports-img" src="" alt="Sports news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="sports-title"></h2>
            <p class="sports-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="sports-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="sports-img" src="" alt="Sports news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="sports-title"></h2>
            <p class="sports-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="sports-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="sports-img" src="" alt="Sports news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="sports-title"></h2>
            <p class="sports-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="sports-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="sports-img" src="" alt="Sports news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="sports-title"></h2>
            <p class="sports-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="sports-link" href="">Read More</a>
          </div>
        </div>
      </ul>
    </nav>
    <div class="label-reflection">
      <div class="label-inner-light"></div>
      <a href="https://www.theguardian.com/science" class="news-label">
        <h1>The Universe is in Your Hands</h1>
        <p>Keep your curiosity sharp and your knowledge current.</p>
      </a>
    </div>
    <nav class="science-nav">
      <ul>
        <img class="science-img" src="" alt="Science news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="science-title"></h2>
            <p class="science-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="science-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="science-img" src="" alt="Science news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="science-title"></h2>
            <p class="science-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="science-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="science-img" src="" alt="Science news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="science-title"></h2>
            <p class="science-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="science-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="science-img" src="" alt="Science news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="science-title"></h2>
            <p class="science-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="science-link" href="">Read More</a>
          </div>
        </div>
      </ul>
    </nav>
    <div class="label-reflection">
      <div class="label-inner-light"></div>
      <a href="https://www.theguardian.com/uk/business" class="news-label">
        <h1>Navigate the Market</h1>
        <p>Make smarter decisions in a fast-moving economy.</p>
      </a>
    </div>
    <nav class="business-nav">
      <ul>
        <img class="business-img" src="" alt="Business news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="business-title"></h2>
            <p class="business-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="business-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="business-img" src="" alt="Business news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="business-title"></h2>
            <p class="business-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="business-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="business-img" src="" alt="Business news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="business-title"></h2>
            <p class="business-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="business-link" href="">Read More</a>
          </div>
        </div>
      </ul>
      <ul>
        <img class="business-img" src="" alt="Business news image" />
        <li class="news-item">
          <div class="news-header">
            <h2 class="business-title"></h2>
            <p class="business-paragraph"></p>
          </div>
        </li>
        <div class="link-item">
          <div class="link-reflection">
            <div class="link-inner-light"></div>
            <a class="business-link" href="">Read More</a>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</div>
