<div class="navigation_wrapper">
  <div class="navigation-display">
    <nav>
      <ul>
        <li>
          <div class="new-post-button_container">
            <div class="new-post-button-reflection">
              <div class="new-post-button-inner-light"></div>
              <a class="nav-item-navigation" href="/pages/explore/explore.html"
                ><i class="fas fa-home"></i
              ></a>
            </div>
          </div>
          <div class="new-post-button_container">
            <div class="new-post-button-reflection">
              <div class="new-post-button-inner-light"></div>
              <a class="nav-item-navigation" href="/pages/news/news.html"
                ><i class="fas fa-newspaper"></i
              ></a>
            </div>
          </div>
          <div class="new-post-button_container">
            <div class="new-post-button-reflection">
              <div class="new-post-button-inner-light"></div>
              <button id="buttonNewPost" class="nav-item-navigation">
                New Post
              </button>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="navigation-alert-display">
    <span id="deletionAlertMessage" class="alert-item"
      >Your account will be automatically deleted.</span
    >
  </div>
  <div class="navigation-request-alert-display">
    <div class="user-request-display">
      <div class="avatar-reflection">
        <div class="avatar-inner-shadow"></div>
        <img
          class="user-request-avatar"
          id="userRequestAvatar"
          src="#"
          alt="Default Profile Picture"
        />
      </div>
      <div id="usernameDisplayRequest" class="username-request-storage"></div>

      <span id="usernameRequestStorage" class="alert-item"></span>
    </div>
    <div class="new-post-button_container">
      <div class="new-post-button-reflection">
        <div class="new-post-button-inner-light"></div>
        <button id="buttonAcceptRequest" class="nav-item-navigation">
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="new-post-button_container">
      <div class="new-post-button-reflection">
        <div class="new-post-button-inner-light"></div>
        <button id="buttonCancelRequest" class="nav-item-navigation">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>
</div>
