<div class="postStorage"></div>

<template id="postTemplate">
  <div class="post-display">
    <div class="first-box_wrapper-post">
      <div class="first-box_container-post">
        <div class="avatar-username_wrapper-post">
          <div class="avatar-reflection-post">
            <div class="avatar-inner-shadow-post"></div>
            <img class="userPostAvatar" src="#" alt="Default Profile Picture" />
          </div>
        </div>
        <div class="user-data_wrapper-post">
          <div class="usernameDisplayPost"></div>
          <div class="time-counter-storage-post">5 min ago</div>
        </div>
      </div>
      <div class="post-storage_wrapper">
        <div class="post-storage-text">
          <p class="storageText"></p>
        </div>
        <div class="mediaStoragePost"></div>
      </div>
    </div>
    <div class="second-box_wrapper-post">
      <div class="second-box_container-post">
        <nav class="user-navigation-post">
          <ul>
            <li>
              <div class="user-navigation_wrapper-post">
                <div class="user-navigation-reflection-post">
                  <div class="user-navigation-inner-light-post"></div>
                  <button class="heartPostBtn" type="button">
                    <i class="fas fa-heart"></i>
                    <span class="heart-up-counter"></span>
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="user-navigation_wrapper-post">
                <div class="user-navigation-reflection-post">
                  <div class="user-navigation-inner-light-post"></div>
                  <button class="nav-item-post" type="button">
                    <i class="fas fa-repeat"></i>
                    <span class="share-up-counter"></span>
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="user-navigation_wrapper-post">
                <div class="user-navigation-reflection-post">
                  <div class="user-navigation-inner-light-post"></div>
                  <button class="nav-item-post" type="button">
                    <i class="fas fa-bookmark"></i>
                    <span class="bookmark-up-counter"></span>
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="user-navigation_wrapper-post">
                <div class="user-navigation-reflection-post">
                  <div class="user-navigation-inner-light-post"></div>
                  <button class="postTrashCan" type="button">
                    Delete my post
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>
